<p>To complete this {{ kind }}, you must do the following:</p>
<ul>
  <li>
    Go to the
    <a
      class="inline_disabled"
      href="https://github.com/{{ gitHubOrg }}/lab-{{ path }}"
      target="_blank"
      rel="noopener"
      >{{ title }}</a
    >
    on GitHub.
  </li>
  <li>Fork the repository to your own GitHub account.</li>
  <li>Follow <em>all</em> of the instructions in the GitHub repository on how to complete the {{ kind }}.</li>
  <li>Create a Pull Request from your repository to the original repository.</li>
  <li>Submit a link to your Pull Request to this Canvas assignment.</li>
</ul>
